/*--- Fonts --- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap"); */
/*--- Global css --- */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: rgb(44, 41, 44);
  background-color: rgb(247, 239, 247);
}
#main-header {
  background-color: rgb(140, 0, 255);
  color: #fff;
  padding: 2rem 5%;
  text-align: center;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: rgb(140, 0, 255);
  border: 1px solid rgb(140, 0, 255);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: rgb(140, 0, 255);
}

.btn:hover {
  background-color: rgb(79, 10, 190);
  border-color: rgb(79, 10, 190);
}

.btn-alt:hover {
  background-color: rgb(230, 201, 252);
  border-color: transparent;
}

@media (max-width: 767px) {
  /* Adjust styles for small screens */
  #main-header {
    padding: 2rem 3%;
  }

  #start-game-btn {
    margin-top: 30px;
  }

  #game-configuration {
    width: 100%;
    max-width: none;
  }

  #game-configuration ol {
    flex-direction: column;
    align-items: center; /* Display players in a column on small screens */
  }

  #game-configuration ol li {
    width: 100%;
    margin: 1rem 0;
  }

  #game-board {
    grid-template-columns: repeat(3, 4rem);
    grid-template-rows: repeat(3, 4rem);
    gap: 0.25rem;
  }

  #game-board li {
    font-size: 1.25rem;
  }

  #game-configuration ol li article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Thanks for reading */
/* 25/01/2024 */
